

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.main-div{
  display: flex;

  justify-content: space-between;
  height: 100vh;
  gap: 30px;
  margin: 1rem;
  flex-basis: 60%;
}

  .container{
    display: flex;
    justify-content: space-between;
   width: 100%;
   height: 100vh;
  }

  .news{
    background-color: rgb(234, 234, 234);  
    height: auto;
overflow-y: scroll;
    scroll-behavior: smooth;
    width: 400px;
    padding: 1rem;
    flex-basis: 43%;


  }

  .news:hover::-webkit-scrollbar {
    width: 6px;
    border-radius: 20px;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll; /* Show vertical scrollbar */
  }
  
  .news:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
  

  .tertimonial{

    margin-top: 3rem;
    width: 100%;
  }
  