/* Testimonials.css */

/* Testimonials container styles */
.testimonials-container {

  margin: 0 auto;
  padding: 20px;
  text-align: center;
  overflow: hidden;
  margin-bottom: 10rem;
  padding: 2rem;
  margin: 2rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-top: 30rem;

}


.swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: var(--swiper-pagination-bottom, 5px);
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -5px !important;
  z-index: 1000;
}

/* Heading styles */
.testimonials-heading {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}
.swiper-button-prev:after, .swiper-button-next:after{
    font-size: 20px !important;
}

.swiper-button-prev   {
    padding-right: 1rem;
  }
  
  .swiper-button-next {
    padding-left: 1rem;
  }

/* Testimonial styles */
.testimonial {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;  height: 300px;
}

/* Testimonial text styles */
.testimonial-text {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

/* Testimonial author styles */
.testimonial-author {
  font-size: 14px;
  font-style: italic;
  color: #888;
}
