.email-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
 
  }

  .email-input{
    border-radius: 35px;
  }
  
  .email-form {
    background-color: #f0f0f0;

    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 700px;
    text-align: center;
    display: flex;
    row-gap: 50px;
display: flex;
align-items: center;
justify-content: center;
justify-content: space-evenly;
  }
  
  .email-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .email-form input {
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: .75rem;
  }
  
  .submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    width: 150px;
  
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  